@use '_vars' as var;

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    color: var.$black;
    font-size: 18px;
}

ul,
ol {
    list-style: none;
}

a {
    text-decoration: none;
}

button {
    cursor: pointer;
}

.container {
    max-width: 1480px;
    margin: 0 auto;
}

.btnH60 {
    height: 60px;
    padding: 0 24px;
    border-radius: 6px;
    border: none;
    font-size: 1rem;
    font-weight: 500;
}

.yellowBtn {
    background-color: var.$yellow;
}

.blueBtn {
    background-color: var.$lightBlue;
    color: var.$white;
    display: flex;
    justify-content: center;
    align-items: center;
    .icon {
        display: inline-block;
        width: 40px;
        height: 40px;
        background-color: var.$white;
        mask: url("../images/Right-arrow-Icon.svg") no-repeat center;
        mask-size: cover;
    }
}